#include "/home/mxhectorvega/.cache/wal/colors.Xresources"
!XTerm*background: #181818
!XTerm*foreground: #dddddd
!XTerm*cursorColor: #ff0000
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter
XTerm*renderFont: true
XTerm*faceName: xft:SF Mono:size=9, FontAwesome Regular:style=Regular
XTerm*utf8: 2
xterm.vt100.translations: #override \n\
				Alt Shift <Key>Down: smaller-vt-font() \n\
				Alt Shift <Key>Up: larger-vt-font()
XTerm*loginshell: true
XTerm*savelines: 16384
XTerm*selectToClipboard: true
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*VT100.Translations: #override \
				Alt <Key>V:    insert-selection(SELECT) \n\
				Alt <Key>C:    copy-selection(SELECT)
